@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@layer base {
  body {
    @apply font-Inter;
  }
  h1,
  h2,
  h3 {
    @apply font-Poppins font-medium text-gray-800;
  }
  .my-container {
    @apply mx-auto mt-16 max-w-7xl px-6 py-12 lg:mt-32 lg:px-8;
  }
  .container-heading {
    @apply mb-14 text-5xl sm:font-semibold;
  }
}
