@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@layer base {
  body {
    @apply font-Inter;
  }
  h1,
  h2,
  h3 {
    @apply font-Poppins font-medium text-gray-800;
  }
  .my-container {
    @apply mx-auto mt-16 max-w-7xl px-6 py-12 lg:mt-32 lg:px-8;
  }
  .container-heading {
    @apply mb-14 text-5xl sm:font-semibold;
  }
  .anchor-hover {
    @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-500;
  }
  .gradident-hover-outer {
    @apply bg-slate-100 p-[1px] hover:bg-gradient-to-br hover:from-red-300 hover:via-purple-300 hover:to-yellow-300;
  }
  .gradident-hover-inner {
    @apply bg-slate-50 group-hover:bg-gradient-to-br group-hover:from-red-50 group-hover:via-purple-50 group-hover:to-yellow-50;
  }
}
